*{
  font-family: "Times New Roman", Times, serif;
  color:#000000;
  font-family: Helvetica, sans-serif;
}  

header{
  background-color: #2995C4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.nav{
  width: 80%;
}

li{
  list-style: none;
}

a{
  color: #000000;
  text-decoration: none;
}

.navbar{
  min-height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px;
}

.nav-menu{
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
}

.nav-branding{
  font-size: 2rem;
}

.nav-link:hover{
  color:red
}

.hamburger{
  display: none;
  cursor: pointer;
}

.bar{
  display: block;
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
  -webkit-transition:all 0.3s ease-in-out;
  transition:all 0.3s ease-in-out;
}




@media(max-width:758px){
  .hamburger{display: block;}
  .hamburger.active .bar:nth-child(2){
    opacity:0;
  }
  .hamburger.active .bar:nth-child(2){
    transform: translateY(8px) rotate(45deg);
  }
  .hamburger.active .bar:nth-child(3){
    transform: translateY(-8px) rotate(-45deg);
  }
  .nav-menu{
    position: fixed;
    left: -100%;
    top: 7px;
    flex-direction: column;
    background-color: lightgreen;
    width: 87%;
    text-align: center;
    transition: 0.3s;
  }
  .nav-item{
    margin: 16px 0;
  }
  .nav-menu.active{
    left: 0;
  }
}


.h{
  font-size: 22px;
  text-align: center;
  color: red;
}

body
{
  background-color: #5c8061;
  
}

.container{
  display:inline-block;
  cursor: pointer;
}




.bob{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
  padding: default;
}

.dave{
  background-color: rgb(223, 221, 154);
  align-items: center;
  padding-top: 7px;
}

.pete{
  background-color: aquamarine;
  align-items: center;
     
}

.cove{
  background-color: #F10B2E;
  align-items: center;
}

.time{
  background-color: purple;
  align-items: center;
}

.bath{
  background-color: #72374f;
  align-items: center;
}

.word{
  background-color: #72374f;
  align-items: center;
}