*{font-size: 14px;
  font-family: "Times New Roman", Times, serif;
  color:#000000;
  
}

.h{
  font-size: 18px;
  text-align: center;
}

body
{
  background-color: #5c8061;
  display: flex;
  text-align: center;
}

.dave{
  background-color: rgb(223, 221, 154);
  align-items: center;
}
.bob{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
}