*{
  font-family: "Times New Roman", Times, serif;
  color:#000000;
  text-align: center;
  font-family: Helvetica, sans-serif;
}

.h{
  font-size: 22px;
}

body
{
  background-color: #5c8061;
}

.bob{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  padding-bottom: 10px;
}

.dave{
  background-color: rgb(223, 221, 154);
  align-items: center;
  padding-top: 7px;
}

.pete{
  background-color: aquamarine;
  align-items: center;
     
}

.cove{
  background-color: darkgreen;
  align-items: center;
}

