*{
  font-family: "Times New Roman", Times, serif;
  color:#000000;
  font-family: Helvetica, sans-serif;
}  

header{
  background-color: #2995C4;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}


li{
  list-style: none;
}

a{
  color: #000000;
  text-decoration: none;
}

.h{
  font-size: 22px;
  text-align: center;
}

body
{
  background-color: #5c8061;
  
}

.bob{
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: auto;
  padding-bottom: 10px;
  text-align: center;
  padding: default;
}

.dave{
  background-color: rgb(223, 221, 154);
  align-items: center;
  padding-top: 7px;
}
.container{
  display:inline-block;
  cursor: pointer;
}

.bar1, .bar2, .bar3{
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}
/* Rotate first bar */
.change .bar1{
  transform: translate(0, 11px) rotate(-45deg);}
/* Fade out the second bar */
.change .bar2 {opacity: 0;}
/* Rotate last bar */
.change .bar3 {
  transform: translate(0, -11px) rotate(45deg);}

.pete{
  background-color: aquamarine;
  align-items: center;
     
}

.cove{
  background-color: #F10B2E;
  align-items: center;
}

.time{
  background-color: purple;
  align-items: center;
}

.bath{
  background-color: #72374f;
  align-items: center;
}

.word{
  background-color: #72374f;
  align-items: center;
}